.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    text-align: center;
    width: 30%;
    max-width: 400px;
    /* min-width: 250px; */
    height: 75%;
    max-height: 900px;
    /* min-height: 400px; */
    border: 2px solid black;
    margin: auto;
}

#output {
    flex-basis: 100%;
}